<a href="#top" class="backtotop anchor text-center" data-spy="affix" data-offset-top="200">
  <i class="icon ion-android-arrow-up"></i>
</a>

<footer class="site-footer">



</footer>

<div class="form-holder">
  {% include form.html %}
</div>

{% include language-selector.html %}

<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/node_modules/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/kiosk.js"></script>
