<div class="modal fullscreen fade" id="form" tabindex="-1" role="dialog">
  <!-- <div class="close" data-dismiss="modal">&nbsp;</div> -->
  <header data-spy="affix" data-offset-top="55" class="affix-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="patient-name">Alexandra<br>
            <small>Penelope
              Theodoropoulous</small></h1>
          <h3 class="patient-name-sm">Alexandra
            <small>Penelope
              Theodoropoulous</small></h3>
        </div>
      </div>
    </div>

    <div class="container-fluid tabs">
      <div class="row">
        <div class="col-xs-12">

          <ul class="nav nav-justified" role="tablist">
            <li role="presentation" class="active passed">
              <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal details<br><i class="icon ion-ios-checkmark-empty"></i></a></li>
            <li role="presentation">
              <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact details<br><i class="icon ion-ios-close-empty"></i></a></li>
            <li role="presentation">
              <a href="#carer" aria-controls="carer" role="tab" data-toggle="tab">Carer/Power of attorney<br><i class="icon ion-ios-close-empty"></i></a></li>
            <li role="presentation" class="">
              <a href="#billing" aria-controls="billing" role="tab" data-toggle="tab">Billing info<br><i class="icon ion-ios-close-empty"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <section class="body">
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="personal">
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
              <div class="form-group radio">
                <label for="form1" class="active" data-error="Please enter a valid email address">Title</label>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm ">Mr</button>
                  <button type="button" class="btn btn-default btn-sm ">Mrs</button>
                  <button type="button" class="btn btn-default btn-sm ">Miss</button>
                  <button type="button" class="btn btn-default btn-sm active">Ms</button>
                  <button type="button" class="btn btn-default btn-sm ">Dr</button>
                  <button type="button" class="btn btn-default btn-sm ">Other</button>
                </div>
              </div>
              <div class="form-group floating-label">
                <input type="text" id="form1" class="form-control" value="Alexandra">
                <label for="form1" class="">First name <sup>*</sup></label>
                <span class="help-text">Please enter your's first name</span>
              </div>
              <div class="form-group floating-label">
                <input type="text" id="form1" class="form-control" value="Penelope">
                <label for="form1" class="">Middle name/s</label>
                <span class="help-text">Please enter your's middlename/s (if any)</span>
              </div>
              <div class="form-group floating-label">
                <input type="text" id="form1" class="form-control" value="Theodoropoulous">
                <label for="form1" class="">Surname <sup>*</sup></label>
                <span class="help-text">Please enter your's surname</span>
              </div>
              <div class="form-group floating-label">
                <input type="text" id="form1" class="form-control" value="Alex">
                <label for="form1" class="">Preferred name</label>
                <span class="help-text">Please enter your's preferred name (if any)</span>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" id="form1" class="form-control datepicker" id="dob" value="14.08.1943">
                    <label for="form1" class="">Date of birth <sup>*</sup></label>
                    <span class="help-text">Please enter your's date of birth</span>
                  </div>
                  <div class="form-group floating-label">
                    <input type="text" id="form1" class="form-control datepicker" value="26.09.1984">
                    <label for="form1" class="">Date arrived in Australia (if applicable)</label>
                    <span class="help-text">Please enter your's date arrived in Australia (if applicable)</span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group select">
                    <select class="form-control">
                      <option value="" disabled selected>Select a country</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                    <label class="active">Place of birth</label>
                  </div>
                </div>
              </div>
              <div class="form-group radio">
                <label for="form1" class="active" data-error="Please enter a valid email address">Gender <sup>*</sup></label>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm ">Male</button>
                  <button type="button" class="btn btn-default btn-sm active">Female</button>
                  <button type="button" class="btn btn-default btn-sm ">Other</button>
                </div>
              </div>
              <div class="form-group floating-label hide">
                <input type="text" id="form1" class="form-control" value="">
                <label for="form1" class="">Notes</label>
                <span class="help-text">Please enter more info</span>
              </div>

              <br><br>

              <div class="form-group floating-label">
                <input type="text" id="form1" class="form-control" value="Greek">
                <label for="form1" class="">Ethnicity</label>
              </div>
              <div class="form-group labelless">
                <input type="text" id="form1" class="form-control" value="Indonesian">
                <label for="form1" class=""> </label>
              </div>
              <div class="form-group add-another text-center">
                <i class="icon ion-ios-plus-outline"></i> Add another
              </div>

              <div class="form-group select">
                <select class="form-control">
                  <option value="" disabled>Select one</option>
                  <option value="1" selected>Neither Aboriginal nor Torres Strait Islander</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label class="active">ATSI <sup>*</sup></label>
              </div>

              <div class="row">
                <div class="col-xs-8">
                  <div class="form-group select">
                    <select class="form-control">
                      <option value="" disabled>Select language</option>
                      <option value="1" selected="selected">Esperanto</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                    <label class="active">Preferred language</label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group checkbox">
                    <label for="form1" class="active" data-error="Please enter a valid email address">&nbsp;</label>
                    <button type="button" class="btn btn-default btn-sm ">
                      <!-- <i class="icon ion-ios-circle-outline"></i>
                      <i class="icon ion-ios-checkmark" style="display: none"></i>  -->
                      Need interpreter</button>
                  </div>
                </div>
              </div>
              <div class="form-group select">
                <select class="form-control">
                  <option value="" disabled selected="selected">Select language</option>
                  <option value="1">Esperanto</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label class="active">Other languages</label>
              </div>
              <div class="form-group add-another text-center">
                <i class="icon ion-ios-plus-outline"></i> Add another
              </div>

              <div class="cta">
                <a class="btn btn-block btn-info btn-lg btnNext">Next &nbsp; <i class="icon ion-ios-arrow-right"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
              <div class="row">
                <div class="col-xs-5">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="0422 111 333">
                    <label for=""><i class="icon ion-android-phone-portrait"></i> Mobile #</label>
                    <span class="help-text">Please enter your mobile # </span>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="form-group checkbox">
                    <label for="">&nbsp;</label>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm">
                        <!-- <i class="icon ion-ios-circle-outline"></i>
                        <i class="icon ion-ios-checkmark" style="display: none"></i> -->
                        Business hours
                      </button>
                      <button class="btn btn-default btn-sm">
                        <!-- <i class="icon ion-ios-circle-outline"></i>
                        <i class="icon ion-ios-checkmark" style="display: none"></i> -->
                        After hours
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group add-another text-center">
                <i class="icon ion-ios-plus-outline"></i> Add another contact #
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" value="yacketyyakfarmer@gmail.com">
                <label for=""><i class="icon ion-ios-email"></i> Email address</label>
                <span class="help-text">Please enter your email address </span>
              </div>
              <h4>Address/es</h4>
              <div class="row">
                <div class="col-xs-8">
                  <div class="form-group select">
                    <select name="" id="" class="form-control">
                      <option value="">Please select</option>
                      <option selected>Home</option>
                      <option>Work</option>
                      <option>Postal</option>
                      <option>School</option>
                      <option>Carer</option>
                    </select>
                    <label for="">Location <sup>*</sup></label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group checkbox">
                    <label for="">&nbsp;</label>
                    <button class="btn btn-default btn-sm active">
                      <!-- <i class="icon ion-ios-circle-outline" style="display: none"></i>
                      <i class="icon ion-ios-checkmark"></i> -->
                      Preferred</button>
                  </div>
                </div>
              </div>
              <div class="form-group select">
                <select name="" id="" class="form-control">
                  <option value="">Please select</option>
                  <option selected>Apartment building</option>
                </select>
                <label for="">Type of dwelling</label>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" value="Unit 22 128 Railway St">
                <label for="">Address line 1 <sup>*</sup></label>
                <span class="help-text">Please enter your street address</span>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control">
                <label for="">Address line 2</label>
                <span class="help-text">Please enter your street address</span>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="North Parramatta">
                    <label for="">Suburb <sup>*</sup></label>
                    <span class="help-text">Please enter your suburb</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group select">
                    <select name="" id="" class="form-control">
                      <option value="" >--</option>
                      <option selected>NSW</option>
                      <option>NT</option>
                      <option>QLD</option>
                      <option>SA</option>
                      <option>TAS</option>
                      <option>VIC</option>
                      <option>WA</option>
                    </select>
                    <label for="">State <sup>*</sup></label>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="2999">
                    <label for="">Postcode <sup>*</sup></label>
                    <span class="help-text"> </span>
                  </div>
                </div>
              </div>
              <h5>Other person living at the above address</h5>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control">
                    <label for="">Resident name</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control">
                    <label for="">Age</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control">
                    <label for="">Relationship</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group add-another text-center">
                <i class="icon ion-ios-plus-outline"></i> Add another resident
              </div> -->
              <!-- <hr> -->
              <div class="form-group add-another text-center">
                <i class="icon ion-ios-plus-outline"></i> Add another address
              </div>

              <div class="form-group checkbox">
                <label for="">Consent for reminders</label>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm active">Phone</button>
                  <button class="btn btn-default btn-sm active">SMS</button>
                  <button class="btn btn-default btn-sm">Mail</button>
                  <button class="btn btn-default btn-sm">Email</button>
                </div>
              </div>
              <div class="form-group checkbox">
                <label for="">Consent for newsletter</label>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm">Phone</button>
                  <button class="btn btn-default btn-sm active">SMS</button>
                  <button class="btn btn-default btn-sm">Mail</button>
                  <button class="btn btn-default btn-sm active">Email</button>
                </div>
              </div>
              <h4>Emergency contact</h4>
              <div class="row">
                <div class="col-xs-4">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="0419 580 109">
                    <label for="">Contact #</label>
                    <span class="help-text">&nbsp; </span>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="Martha">
                    <label for="">Name</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="Mother's mobile">
                    <label for="">Note</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
              </div>
              <h4>Next of kin</h4>
              <div class="row">
                <div class="col-xs-4">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="">
                    <label for="">Contact #</label>
                    <span class="help-text">&nbsp; </span>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="">
                    <label for="">Name</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="">
                    <label for="">Note</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
              </div>

              <div class="cta btn-group btn-group-justified">
                <a class="btn btn-default btn-lg btnPrevious"><i class="icon ion-ios-arrow-left"></i> &nbsp; Previous</a>
                <a class="btn btn-info btn-lg btnNext">Next &nbsp; <i class="icon ion-ios-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="carer">
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
              <h4>Carer</h4>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="Maeve Millay">
                    <label for="">Name</label>
                    <span class="help-text">Please enter carer's name</span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="0419 5580 109">
                    <label for="">Contact #</label>
                    <span class="help-text">Please enter carer's contact #</span>
                  </div>
                </div>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" name="" value="Patient's daughter">
                <label for="">Notes</label>
                <span class="help-text">&nbsp;</span>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" name="" value="6148 Railway Parade">
                <label for="">Address line 1</label>
                <span class="help-text">Please enter carer's address</span>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" name="" value="">
                <label for="">Address line 2</label>
                <span class="help-text">Please enter carer's address</span>
              </div>
              <div class="row">
                <div class="col-xs-7">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="North Yackandandah">
                    <label for="">Suburb</label>
                    <span class="help-text">Please enter carer's suburb</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group select">
                    <label for="">State</label>
                    <select class="form-control" name="">
                      <option value="">--</option>
                      <option >NSW</option>
                      <option >NT</option>
                      <option>QLD</option>
                      <option>SA</option>
                      <option>TAS</option>
                      <option selected>VIC</option>
                      <option>WA</option>

                    </select>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="3749">
                    <label for="">Postcode</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
              </div>
              <h4>Power of attorney</h4>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="Clementine Pennyfeather">
                    <label for="">Name</label>
                    <span class="help-text">Please enter power of attorney's name</span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="0419 580 109">
                    <label for="">Contact #</label>
                    <span class="help-text">Please enter power of attorney's contact #</span>
                  </div>
                </div>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" name="" value="Patient's daughter">
                <label for="">Notes</label>
                <span class="help-text">&nbsp;</span>
              </div>
              <div class="form-group floating-label">
                 <input type="text" class="form-control" name="" value="6148 Railway Parade">
                 <label for="">Address line 1</label>
                 <span class="help-text">Please enter power of attorney's address</span>
               </div>
               <div class="form-group floating-label">
                 <input type="text" class="form-control" name="" value="">
                 <label for="">Address line 2</label>
                 <span class="help-text">Please enter power of attorney's address</span>
               </div>

               <div class="row">
                 <div class="col-xs-7">
                   <div class="form-group floating-label">
                     <input type="text" class="form-control" name="" value="North Yackandandah">
                     <label for="">Suburb</label>
                     <span class="help-text">Please enter power of attorney's suburb</span>
                   </div>
                 </div>
                 <div class="col-xs-3">
                   <div class="form-group select">
                     <label for="">State</label>
                     <select class="form-control" name="">
                       <option value="">--</option>
                       <option >NSW</option>
                       <option >NT</option>
                       <option>QLD</option>
                       <option>SA</option>
                       <option>TAS</option>
                       <option selected>VIC</option>
                       <option>WA</option>

                     </select>
                   </div>
                 </div>
                 <div class="col-xs-2">
                   <div class="form-group floating-label">
                     <input type="text" class="form-control" name="" value="3749">
                     <label for="">Postcode</label>
                     <span class="help-text"> </span>
                   </div>
                 </div>
               </div>

              <div class="cta btn-group btn-group-justified">
                <a class="btn btn-default btn-lg btnPrevious"><i class="icon ion-ios-arrow-left"></i> &nbsp; Previous</a>
                <a class="btn btn-info btn-lg btnNext">Next &nbsp; <i class="icon ion-ios-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="billing">
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
              <div class="row">
                <div class="col-xs-7">
                  <div class="form-group floating-label has-warning">
                    <input type="text" class="form-control">
                    <label for=""><i class="fa fa-square"></i> Medicare</label>
                    <span class="help-text">Please enter patient's medicare card number</span>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control">
                    <label for="">IRN</label>
                    <span class="help-text">&nbsp;</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control">
                    <label for="">Valid to</label>
                    <span class="help-text">&nbsp;</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-9">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="0419 580 109">
                    <label for=""><i class="fa fa-square"></i> Health Care Card</label>
                    <span class="help-text">Please enter patient's health care card number</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" value="03.2018">
                    <label for="">Valid to</label>
                    <span class="help-text">&nbsp;</span>
                  </div>
                </div>
              </div>
              <div class="form-group add-another text-center">
                <i class="icon ion-ios-plus-outline"></i> Add another card
              </div>
              <h4>Payer</h4>
              <div class="form-group radio">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" name="button">
                    <!-- <i class="icon ion-ios-circle-outline"></i>
                    <i class="icon ion-ios-checkmark " style="display: none"></i> -->
                    Patient
                  </button>
                  <button type="button" class="btn btn-default btn-sm active" name="button">
                    <!-- <i class="icon ion-ios-circle-outline" style="display: none"></i>
                    <i class="icon ion-ios-checkmark " ></i> -->
                    Carer
                  </button>
                </div>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" name="" value="Maeve Millay">
                <label for="">Name</label>
                <span class="help-text">Please enter carer's name</span>
              </div>
              <div class="row">
                <div class="col-xs-7">
                  <div class="form-group floating-label has-warning">
                    <input type="text" class="form-control">
                    <label for=""><i class="fa fa-square"></i> Medicare</label>
                    <span class="help-text">Please enter patient's medicare card number</span>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control">
                    <label for="">IRN</label>
                    <span class="help-text">&nbsp;</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control">
                    <label for="">Valid to</label>
                    <span class="help-text">&nbsp;</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="14.08.1943">
                    <label for="">Date of birth <sup>*</sup></label>
                    <span class="help-text">Please enter date of birth</span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="0419 580 109">
                    <label for="">Contact #</label>
                    <span class="help-text">Please enter carer's contact number</span>
                  </div>
                </div>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" name="" value="6148 Railway Parade">
                <label for="">Address line 1</label>
                <span class="help-text">Please enter carer's address</span>
              </div>
              <div class="form-group floating-label">
                <input type="text" class="form-control" name="" value="">
                <label for="">Address line 2</label>
                <span class="help-text">Please enter carer's address</span>
              </div>
              <div class="row">
                <div class="col-xs-7">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="North Yackandandah">
                    <label for="">Suburb</label>
                    <span class="help-text">Please enter carer's suburb</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group select">
                    <label for="">State</label>
                    <select class="form-control" name="">
                      <option value="">--</option>
                      <option >NSW</option>
                      <option >NT</option>
                      <option>QLD</option>
                      <option>SA</option>
                      <option>TAS</option>
                      <option selected>VIC</option>
                      <option>WA</option>

                    </select>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="form-group floating-label">
                    <input type="text" class="form-control" name="" value="3749">
                    <label for="">Postcode</label>
                    <span class="help-text"> </span>
                  </div>
                </div>
              </div>

              <div class="cta btn-group btn-group-justified">
                <a class="btn btn-default btn-lg btnPrevious"><i class="icon ion-ios-arrow-left"></i> &nbsp; Previous</a>
                <a class="btn btn-info disabled btn-lg btnNext">Submit &nbsp; <i class="icon ion-ios-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
