<div id="language-selector" class="modal fade fullscreen">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="content container text-center">
        <!-- <h1>Cremorne Medical Practice</h1><br> -->
        <h3 class="title">Pick your language</h3>
        <a class="btn btn-default btn-lg btn-english" data-dismiss="modal"><span class="flag-icon flag-icon-au flag-icon-squared"></span> English</a>
        <a class="btn btn-default btn-lg"><span class="flag-icon flag-icon-cn flag-icon-squared"></span> 中文</a>
        <a class="btn btn-default btn-lg"><span class="flag-icon flag-icon-jp flag-icon-squared"></span> 日本语</a><br>
        <a class="btn btn-default btn-lg"><span class="flag-icon flag-icon-kr flag-icon-squared"></span> 한국어</a>
        <a class="btn btn-default btn-lg"><span class="flag-icon flag-icon-sa flag-icon-squared"></span> عربى</a>
        <a class="btn btn-default btn-lg"><span class="flag-icon flag-icon-gr flag-icon-squared"></span> Ελληνικά</a>
        <a class="btn btn-default btn-lg"><span class="flag-icon flag-icon-vn flag-icon-squared"></span> Tiếng Việt</a>
      </div>

    </div>
  </div>
</div>
