.btn {
  border-radius: 3px;
  font-weight: 300;
  text-transform: uppercase;
  &.btn-primary {
    background-color: $color-blue-dark;
    border-color: darken($color-blue-dark,5%);
    color: $text-color;
  }
  &.btn-default {
    background-color: transparent;
    border-color: rgba(black, .4);
  }
  &.btn-default-reverse {
    background-color: transparent;
    border-color: rgba(white,.5);
    color: white;
  }
}
