.modal {
  &.fullscreen {
    background-color: #fff;
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -ms-animation-duration: .8s;
    animation-duration: .8s;
    &.fade {
      opacity: 1;
    }
    .modal-dialog, .modal-dialog .modal-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      transform: translate(0);
    }
    &#language-selector {
      .modal-content {
        background-color: #eee;
        color: $text-color;
        .content {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          .title {
            margin: 0 0 20px;
          }
        }
        .btn {
          margin: 4px;
        }
      }
    }
  }
}
