
$color-red:           #BA0319;
$color-green:         #417505;
$color-orange:        #E38D00;
$color-gray-darkest:  #191919;
$color-gray-dark:     #4A4A4A;
$color-gray:          #707070;
$color-blue-light:    #9AD3DE;
$color-blue:          #5bc0de;
$color-blue-dark:     #89BDD3;
$text-color:          #333333;
